* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #41e141;
  transition: background-color 300ms ease-in-out;
  line-height: 1.5;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.working {
  background-color: #ef5d50;
}

.hidden{
  display: none;
}

.pomodoro{
  background-color: #fff;
  margin: 50px 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  padding: 20px;
}

.pomodoro h2{
  font-size: 24px;
  text-align: center;
}

.pomodoro .timer{
  font-size: 6rem;
  text-align: center;
}

.pomodoro .controls{
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.pomodoro button {
  background-color: #41e141;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 25px;
  color: #000;
  transition: background-color 300ms ease-in-out;
  margin: 20px auto;
}

.working .pomodoro button{
  background-color: #ef5d50;
  color: #fff;
}

.pomodoro .details {
  margin: 20px 0;
}

.pomodoro .details, .pomodoro .configs {
  background-color: #efefef;
  padding: 10px;
  border-radius: 7px;
}

.pomodoro .configs p:first-child{
  margin-top: 0;
}

.pomodoro .configs p {
  margin-top: 15px;
}
